{#
{
  "insecure-registries": ["{{ image_repository_daemon }}"],
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  }
}
#}
{
  "insecure-registries": ["0.0.0.0/0","{{ image_repository_daemon }}"],
  {#"bip": "{{ docker_cidr }}",#}
  "hosts": ["unix:///var/run/docker.sock"],
  "storage-driver": "overlay2",
  "exec-opts": [
    "native.cgroupdriver=systemd"
  ],
  "registry-mirrors": ["https://system.mirror.aliyuncs.com"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "20m",
    "max-file": "10"
  },
  "data-root": "/data/docker",
  "live-restore": true,
  "max-concurrent-downloads": 10,
  "max-concurrent-uploads": 10,
  "oom-score-adjust": -1000
}
